#main-set-avs{
  background: #52accc;
  margin-top: 50px;
  color:#fff;
}
#main-set-avs select{
  color:#444;
}
[hidden_s="true"]
{
  display: none;
}
[hidden_s="false"]
{
  display: block;
}

div.editor{
  position: absolute;
  top: 10px;
  left:10px;
  right: 10px;
  border:1px solid #096484;
  padding: 15px;
  background: #4796b3;
}

.list-slides {
    margin: 10px;
}
.message-box-succsess
{
  border:1px solid green;
  margin-top: 30px;
  color:green;
}
.message-box-error
{
  border: 1px solid red;
  margin-top: 30px;
  color:red;
}

a{cursor: pointer;}
.avs-created
{
  padding:15px;
}
.col-lg-6.col-md-6 label
{
  width:100%;
  float:left;
}
.col-lg-6.col-md-6 label input, .col-lg-6.col-md-6 label select {
    float: right;
    width: 80px;
}