															/*
*
* Custom styles for AVS Slider Plugin 
*
* AVS Core
*/
div.slide ul.products div.qwe {
    max-width: 80%;
    width: 80%;
    margin-top: 5%;
    background-color:#fff;
}
div.slide ul.products
{
    background:none;
}						