.content {
    width: 80%;
    margin: auto;
}
.woocommerce ul.products li.product .button{left: 120px;top:20px;width: 80px !important;}
.woocommerce ul.products li.product h3{width: 130px;margin-top: 20px !important;}
.woocommerce ul.products li.product a img{width: 400%;max-width: 400%;margin: 5px;}
span.price>span.amount{padding-left: 5px;}
.woocommerce .products ul, .woocommerce ul.products{border: 1px solid #F6F6F6;margin: 0 5px;}
.woocommerce ul.products li.product .added_to_cart{margin-top: 20px; width: 220px;text-align: center;}
@media screen and (max-width: 1200px) {
	.woocommerce ul.products li.product .added_to_cart{width: 190px;}
}
@media screen and (max-width: 768px) {
	.woocommerce ul.products li.product .added_to_cart{width: 270px;}
	.woocommerce ul.products li.product a img{width: 200%;}
	.woocommerce ul.products li.product .button{left: 50px;;width: 60px !important;}
}
@media screen and (max-width: 600px) {
	.woocommerce ul.products li.product .added_to_cart{width: 220px;}
}
@media screen and (max-width: 500px) {
	.woocommerce ul.products li.product .added_to_cart{width: 170px;}
}
@media screen and (max-width: 430px) {
	.woocommerce ul.products li.product .added_to_cart{width: 140px;}
}
@media screen and (max-width: 400px) {
	.woocommerce ul.products li.product .added_to_cart{width: 140px;font-size: 12px;}
}
@media screen and (max-width: 360px) {
	.woocommerce ul.products li.product .added_to_cart{width: 110px;}
}